*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Orienteering - Server/nbproject/private/private.properties
Orienteering - Server/nbproject/private/private.properties
Orienteering - Server/nbproject/private/private.properties
Orienteering - Server/nbproject/private/private.properties
Orienteering - Server/nbproject/private/private.properties
